/* Core styles, should not need to be changed */

form label span
{
	display: inline-block;
}

form label.constraint-loading span,
form label.constraint-fail span,
form label.constraint-pass span
{
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: right center;
}

#tooltip
{
	position: absolute;
	top: 0px;
	left: 0px;
    display: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: top;
}

	#tooltip .tooltip
	{
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: bottom;
	}

#tooltip .tooltip p,
#tooltip .tooltip ul
{
	margin-bottom: 0px;
	margin-top: 0px;
}

/* Application-specific styles. Override by copying these to your application CSS and change as needed */

form label span
{
	padding-right: 22px;
}

form label.constraint-loading span
{
	background-image: url( /CC/inc/images/constraints/constraint-loading.gif );
}

form label.constraint-fail span
{
	background-image: url( /CC/inc/images/constraints/constraint-fail.gif );
}

#tooltip
{
    width: 200px;
    background-image: url( /CC/inc/images/constraints/tooltip-top.gif );
}

	#tooltip .tooltip
	{
		background-image: url( /CC/inc/images/constraints/tooltip-tray.gif );
		width: 170px;
		padding: 0px 15px 41px 15px;
		margin-top: 9px;
	}

#tooltip.angry
{
    background-image: url( /CC/inc/images/constraints/tooltip-error-top.gif );
}

	#tooltip.angry .tooltip
	{
		background-image: url( /CC/inc/images/constraints/tooltip-error-tray.gif );
		color: #fff;
	}

#tooltip .tooltip
{
    font-size: 11px;
}

#tooltip .tooltip ul
{
	margin-left: 12px;
}