/* Core styles, should not need to be changed */

#validation-tooltip
{
	position: absolute;
	top: 0px;
	left: 0px;
    display: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: top;
}

	#validation-tooltip .validation-tooltip
	{
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: bottom;
	}

#validation-tooltip .validation-tooltip p,
#validation-tooltip .validation-tooltip ul
{
	margin-bottom: 0px;
	margin-top: 0px;
}

/* Application-specific styles. Override by copying these to your application CSS and change as needed */

#validation-tooltip
{
    width: 200px;
    background-image: url( /WireKit/inc/images/validation/tooltip/tooltip-top.gif );
}

	#validation-tooltip .validation-tooltip
	{
		background-image: url( /WireKit/inc/images/validation/tooltip/tooltip-tray.gif );
		width: 170px;
		padding: 0px 15px 37px 15px;
		margin-top: 9px;
	}

#validation-tooltip.angry
{
    background-image: url( /WireKit/inc/images/validation/tooltip/tooltip-error-top.gif );
}

	#validation-tooltip.angry .validation-tooltip
	{
		background-image: url( /WireKit/inc/images/validation/tooltip/tooltip-error-tray.gif );
		color: #fff;
	}

#validation-tooltip .validation-tooltip
{
    font-size: 11px;
}

#validation-tooltip .validation-tooltip ul
{
	margin-left: 12px;
}

#validation-tooltip .validation-tooltip ul li
{
	margin: 0px;
	padding: 0px;
}