<?xml version="1.0" encoding="utf-8" ?>

<xmvc:root xmlns:xmvc="http://www.xmvc.org/ns/xmvc/1.0">

	<xmvc:section xmvc:name="routing">
		<xmvc:var xmvc:name="defaultController">home</xmvc:var>
		<xmvc:var xmvc:name="useQueryInRoutes">false</xmvc:var>

		<xmvc:var xmvc:name="routes">

			<xmvc:item>
				<xmvc:key><![CDATA[/favicon\.ico(.*)/]]></xmvc:key>
				<xmvc:value><![CDATA[favicon/ico$1]]></xmvc:value>
			</xmvc:item>

			<xmvc:item>
				<xmvc:key><![CDATA[/favicon\.gif(.*)/]]></xmvc:key>
				<xmvc:value><![CDATA[favicon/gif$1]]></xmvc:value>
			</xmvc:item>

			<xmvc:item>
				<xmvc:key><![CDATA[/favicon\.png(.*)/]]></xmvc:key>
				<xmvc:value><![CDATA[favicon/png$1]]></xmvc:value>
			</xmvc:item>

		</xmvc:var>
	</xmvc:section>

	<xmvc:section xmvc:name="xsltRenderingOptions">
		<xmvc:var xmvc:name="forceServerSideRendering">true</xmvc:var>
		<xmvc:var xmvc:name="forceClientSideRendering">false</xmvc:var>
	</xmvc:section>

	<xmvc:section xmvc:name="database">
		<xmvc:var xmvc:name="databaseHost">localhost</xmvc:var>
		<xmvc:var xmvc:name="databaseName"></xmvc:var>
		<xmvc:var xmvc:name="databaseUser"></xmvc:var>
		<xmvc:var xmvc:name="databasePass"></xmvc:var>
		<xmvc:var xmvc:name="databaseType">mysqli</xmvc:var>
	</xmvc:section>

	<xmvc:section xmvc:name="source">
		<xmvc:var xmvc:name="sourceViewKey">-src</xmvc:var>
		<xmvc:var xmvc:name="sourceViewEnabled">true</xmvc:var>
	</xmvc:section>

	<xmvc:section xmvc:name="errorHandling">
		<xmvc:var xmvc:name="handleErrors">true</xmvc:var>
	</xmvc:section>

</xmvc:root>