<IfModule !mod_rewrite.c>
	<Files index.php>
		order allow,deny
		deny from all
	</Files>
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine on

	RewriteCond $1 !^(index\.php|inc|(.+?)/inc|mod/(.+?)/inc)
	RewriteRule ^(.*)$ /index.php/$1
	
	RewriteRule ^inc(.*)$ /app/inc$1

	RewriteCond $1 !^([/]?app|[/]?mod)
	RewriteRule ^(.+?)\/inc(.*)$ /mod/$1/inc$2
</IfModule>