h1
{
	font: normal 24px Arial, Helvetica, sans;
	color: #192c37;
}

h2
{
	font: normal 22px Arial, Helvetica, sans;
	color: #253742;
	margin-bottom: 13px;
}

h3
{
	font: normal 20px Arial, Helvetica, sans;
	color: #192c37;
	margin-bottom: 13px;
}

h4
{
	font: normal 18px Arial, Helvetica, sans;
	color: #192c37;
	margin-bottom: 13px;
}

h5
{
	font: normal 16px Arial, Helvetica, sans;
	color: #192c37;
	margin-bottom: 13px;
}

h6
{
	font: normal 14px Arial, Helvetica, sans;
	color: #192c37;
	margin-bottom: 13px;
}

p
{
	font: normal 15px Arial, Helvetica, sans;
	color: #959ea2;
	margin-bottom: 13px;
}

a
{
	font: normal 15px Arial, Helvetica, sans;
	color: #47575f;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

a:visited
{
	color: #67777f;
}

a:active
{
	color: #87979f;
}

ol, ul
{
	color: #959ea2;
}

ol
{
}

ol li
{
}

ul
{
}

ul li
{
}

li
{
	font: normal 15px Arial, Helvetica, sans;
}

em
{
}

strong
{
}