h1
{
	font: normal 24px Arial, Helvetica, sans;
	color: #333333;
	margin-bottom: 12px;
}

h2
{
	font: normal 18px Arial, Helvetica, sans;
	color: #333333;
	margin-bottom: 12px;
}

h3
{
	font: normal 17px Arial, Helvetica, sans;
	color: #333333;
	margin-bottom: 12px;
}

h4
{
	font: normal 16px Arial, Helvetica, sans;
	color: #333333;
	margin-bottom: 12px;
}

h5
{
	font: normal 15px Arial, Helvetica, sans;
	color: #333333;
	margin-bottom: 12px;
}

h6
{
	font: normal 14px Arial, Helvetica, sans;
	color: #333333;
	margin-bottom: 12px;
}

p
{
	font: normal 15px Arial, Helvetica, sans;
	color: #333333;
	margin-bottom: 12px;
}

a
{
	font: normal 15px Arial, Helvetica, sans;
	color: #333388;
	text-decoration: underline;
}

a:visited
{
	color: #555588;
}

a:hover
{
	text-decoration: none;
	color: #000000;
	background-color: #ffffaa;
}

a:active
{
	color: #338833;
}

label
{
	font: normal 15px Arial, Helvetica, sans;
	color: #333333;
}

input
{
	font: normal 15px Arial, Helvetica, sans;
	color: #333333;
}

ol, ul
{
	color: #333333;
}

ol
{
}

ol li
{
}

ul
{
}

ul li
{
}

li
{
}

em
{
}

strong
{
}