body
{
	background-image: url( "../images/mast-bg.gif" );
	background-repeat: repeat-x;
	background-position: 0px 0px;
}

/******************************************************************************
 Mast area
******************************************************************************/

#mast
{
	width: 910px;
	height: 88px;

	margin: 0px auto;

	position: relative;
}

#logo
{
	display: block;
	position: absolute;

	background-image: url( "../images/logo.gif" );
	background-repeat: no-repeat;
	background-position: 0px 0px;

	width: 81px;
	height: 81px;

	text-indent: -9999px;

	top: 0px;
	left: 11px;
}

#mast-title
{
	position: absolute;

	background-image: url( "../images/mast-title.gif" );
	background-repeat: no-repeat;
	background-position: 0px 0px;

	width: 333px;
	height: 55px;

	text-indent: -9999px;

	top: 0px;
	left: 92px;
}

/******************************************************************************
 Short navigation, top right
******************************************************************************/

#short-nav
{
	position: absolute;

	top: 32px;
	right: 10px;
}

#short-nav ul
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#short-nav ul li
{
	display: inline;
	color: #ffffff;
	font-size: 80%;
}

#short-nav ul li a
{
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#short-nav ul li a:hover
{
	text-decoration: underline;
}

/******************************************************************************
 Main top navigation
******************************************************************************/

#top-nav
{
	position: absolute;

	top: 55px;
	left: 92px;
}

/* first level */

#top-nav ul
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;

	padding-left: 4px;
}

#top-nav ul li
{
	display: block;
	float: left;
	position: relative;

	color: #ffffff;
	font-size: 90%;
}

#top-nav ul li a,
#top-nav ul li span
{
	display: block;
	float: left;
	padding-left: 12px;
	padding-right: 12px;

	height: 26px;
	line-height: 230%;

	background-image: url( "../images/topnav-divider.gif" );
	background-repeat: no-repeat;
	background-position: right 0px;

	color: #ffffff;
	text-decoration: none;
}

#top-nav ul li a:hover
{
	text-decoration: underline;
}

#top-nav ul li:last-child a,
#top-nav ul li.last-child a
{
	background-image: none;
}

/* second level */

#top-nav ul li ul
{
	display: none;
	position: absolute;
	background-color: #000066;

	opacity: 0.9;	/* FF: stand-in property for opacity, which is handled by jQuery. alpha value from 0 to 1 */
	widows: 90;		/* IE: stand-in property for opacity, which is handled by jQuery. alpha value from 0 to 100 */

	top: 26px;
	left: 0px;

	padding: 16px;
	padding-bottom: 20px;
	padding-right: 0px;

	width: 690px;
}

#top-nav ul li ul li
{
	background-image: url( "../images/arrow-list.gif" );
	background-repeat: no-repeat;
	background-position: 10px 11px;
	border-bottom: 1px solid #45417d;

	margin-right: 20px;
}

#top-nav ul li ul li a
{
	display: block;
	float: left;
	padding: 6px 20px 6px 20px;

	height: auto;
	line-height: 100%;
	font-size: 110%;

	background-image: none;
	background-color: transparent;

	width: 285px;
}

#top-nav ul li ul li a:hover
{
	text-decoration: underline;
}

#top-nav ul li:hover ul,
#top-nav ul li.over ul
{
	display: block;
}

/******************************************************************************
 Page area
******************************************************************************/

#page
{
	width: 910px;
	margin: 0px auto;
}

/******************************************************************************
 Heading block (with main heading and some graphic)
******************************************************************************/

#heading-block
{
	width: 910px;
	height: 184px;
}

#heading-block h1
{
	display: block;
	margin: 0px;
	padding: 0px;
	float: left;

	width: 454px;
	height: 184px;

	background-repeat: no-repeat;
	background-position: 0px 0px;

	text-indent: -9999px;
}

#heading-block div
{
	display: block;
	margin: 0px;
	padding: 0px;
	float: right;

	width: 456px;
	height: 184px;

	background-repeat: no-repeat;
	background-position: 0px 0px;
}

/* Various heading-decos defined here */

#heading-block div.guyleaningonwindow
{
	background-image: url( "../images/heading-decos/guyleaningonwindow.jpg" );
}

/******************************************************************************
 Content (where the 3 columns reside)
******************************************************************************/

#content
{
	font-size: 90%;
	overflow: hidden;
}

#column1
{
	width: 257px;
	float: left;
	overflow: hidden;
	padding-bottom: 64px;
}

#body
{
	width: 394px;
	float: left;
	overflow: hidden;
	padding: 4px 16px 64px 0px;
}

#column2
{
	width: 242px;
	float: left;
	overflow: hidden;
	padding-bottom: 64px;
}

/******************************************************************************
 Footer area
******************************************************************************/

#footer
{
	width: 910px;
	margin: 0px auto;
}

#footer-block
{
	clear: both;
	height: 50px;
	padding-top: 6px;
	border-top: 1px solid #edeeee;
}

#copyright
{
	height: 50px;
	float: left;
}

#copyright p
{
	margin: 0px;
	padding: 0px;

	color: #a7a9ac;
	font-size: 80%;
}

#footer-nav
{
	height: 50px;
	float: right;
}

#footer-nav ul
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#footer-nav ul li
{
	display: inline;
	color: #a7a9ac;
	font-size: 80%;
}

#footer-nav ul li a
{
	color: #a7a9ac;
	text-decoration: underline;
}

#footer-nav ul li a:hover
{
	text-decoration: none;
}

/******************************************************************************
 Generic lightbox styles
******************************************************************************/

div.pop_box
{
	background-color: #ffffff;
}

div.pop_bg
{
	background-color: #000000;

	opacity: 0.6;	/* FF: stand-in property for opacity, which is handled by jQuery. alpha value from 0 to 1 */
	widows: 60;		/* IE: stand-in property for opacity, which is handled by jQuery. alpha value from 0 to 100 */
}

a.pop_closebutton
{
	cursor: pointer;
}

/******************************************************************************
 Contact box outer styles
******************************************************************************/

#contactbox div.pop_box
{
	width: 440px;
	height: 490px;
}

#contactbox a.pop_closebutton
{
	background-image: url( "../images/close-button.gif" );
	background-repeat: no-repeat;

	width: 20px;
	height: 20px;

	top: 4px;
	right: 8px;
}

#contactbox iframe
{
	width: 100%;
	height: 100%;
	border: 0px;
}

/******************************************************************************
 Box styles
******************************************************************************/

/* simple decoration stub image */

.box.deco-stub
{
	background-image: url( "../images/deco-stub.jpg" );
	background-repeat: no-repeat;
	background-position: 0px 0px;

	width: 257px;
	height: 66px;

	margin-bottom: 12px;
}

/* related items list */

.box.items
{
	padding-left: 10px;
	width: 247px;
}

.box.items ul
{
	width: 227px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.box.items ul li
{
	display: block;
	padding: 0px 0px 8px 0px;
}

.box.items ul li a
{
	display: block;

	padding-left: 20px;

	background-image: url( "../images/arrow-button.gif" );
	background-repeat: no-repeat;
	background-position: left top;

	color: #000066;
	font-weight: bold;
	text-decoration: none;
}

.box.items ul li a:hover
{
	text-decoration: underline;
}

.box.items ul li p
{
	margin: 0px;
	padding: 0px;
	padding-bottom: 8px;
}

/* white box with blue heading and dropshadow */

.box.blue-shadow
{
	overflow: hidden;
	width: 242px;

	background-image: url( "../images/bluebox-body.gif" );
	background-repeat: repeat-y;
	background-position: 0px 0px;

	margin-top: 4px;
}

.box.blue-shadow h4
{
	display: block;

	margin: 0px;
	padding: 0px;

	background-image: url( "../images/bluebox-head.gif" );
	background-repeat: no-repeat;
	background-position: 0px 0px;

	width: 212px;
	height: 20px;

	font-size: 100%;
	color: #ffffff;

	padding: 12px 0px 0px 30px;
}

.box.blue-shadow div
{
	overflow: hidden;

	background-image: url( "../images/bluebox-foot.gif" );
	background-repeat: no-repeat;
	background-position: 0px bottom;

	padding: 20px 30px 20px 30px;
}

/* data-quality image map box */

.box.data-quality p
{
	margin: 0px;
	padding: 8px 0px 10px 0px;

	font-size: 105%;
	font-weight: bold;
	color: #000066;
}

.box.data-quality img
{
	width: 241px;
	height: 160px;
	border: 0px;
	padding-bottom: 6px;
}
