<?xml version="1.0" encoding="utf-8" ?>

<xmvc:root xmlns:xmvc="http://www.xmvc.org/ns/xmvc/1.0">

	<xmvc:section name="routing">
		<xmvc:var name="defaultController"><![CDATA[home]]></xmvc:var>
		<xmvc:var name="routes">
			<xmvc:item>
				<xmvc:key><![CDATA[/favicon\.ico(.*)/]]></xmvc:key>
				<xmvc:value><![CDATA[favicon/ico$1]]></xmvc:value>
			</xmvc:item>
			<xmvc:item>
				<xmvc:key><![CDATA[/favicon\.gif(.*)/]]></xmvc:key>
				<xmvc:value><![CDATA[favicon/gif$1]]></xmvc:value>
			</xmvc:item>
			<xmvc:item>
				<xmvc:key><![CDATA[/favicon\.png(.*)/]]></xmvc:key>
				<xmvc:value><![CDATA[favicon/png$1]]></xmvc:value>
			</xmvc:item>
		</xmvc:var>
	</xmvc:section>

	<xmvc:section name="xsltRenderingOptions">
		<xmvc:var name="forceServerSideRendering"><![CDATA[true]]></xmvc:var>
		<xmvc:var name="forceClientSideRendering"><![CDATA[false]]></xmvc:var>
	</xmvc:section>

	<xmvc:section name="database">
		<xmvc:var name="databaseHost"><![CDATA[localhost]]></xmvc:var>
		<xmvc:var name="databaseName"><![CDATA[]]></xmvc:var>
		<xmvc:var name="databaseUser"><![CDATA[]]></xmvc:var>
		<xmvc:var name="databasePass"><![CDATA[]]></xmvc:var>
		<xmvc:var name="databaseType"><![CDATA[mysqli]]></xmvc:var>
	</xmvc:section>

	<xmvc:section name="source">
		<xmvc:var name="sourceViewKey"><![CDATA[-src]]></xmvc:var>
		<xmvc:var name="sourceViewEnabled"><![CDATA[true]]></xmvc:var>
	</xmvc:section>

	<xmvc:section name="errorHandling">
		<xmvc:var name="handleErrors"><![CDATA[true]]></xmvc:var>
	</xmvc:section>

</xmvc:root>