<IfModule !mod_rewrite.c>
	<Files index.php>
		order allow,deny
		deny from all
	</Files>
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine on

	RewriteCond $1 !^(index\.php|inc|robots\.txt)
	RewriteRule ^(.*)$ /index.php/$1
</IfModule>