body
{
	width: 100%;
}

#ccms
{
	padding: 10px;
	overflow: hidden;
}

fieldset
{
	padding: 10px;
	border: 1px solid #000;
}

fieldset legend
{
	font: normal 14px Georgia, Arial, Helvetica, sans;
	padding: 0px;
}

div.lang
{
	margin: 0px 10px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0px;
	float: left;
}

fieldset.container
{
	border: 1px solid #bbbbbb;
	background-color: #efefef;
}

fieldset.node
{
	border: 1px solid #bbbbbb;
	background-color: #e0e0e0;
}

textarea.xhtml
{
	width: 100%;
	height: 250px;
}

textarea.string
{
	float: right;
	width: 93%;
	height: 20px;
}

input.string-save
{
	float: left;
	height: 24px;
	width: 24px;
	background: url( /inc/scripts/tiny_mce/themes/advanced/img/icons.gif ) no-repeat -480px -20px;
	text-indent: -9999px;
	cursor: pointer;
	cursor: hand;
}