<?xml version="1.0" encoding="utf-8" ?>

<?xml-stylesheet href="../../sys/config/config.xsl" type="text/xsl" ?>

<xmvc:root xmlns:xmvc="http://www.xmvc.org/ns/xmvc/1.0" xmlns:cfg="http://www.xmvc.org/ns/cfg/1.0">

	<xmvc:section name="xslt">

		<xmvc:var name="xsltAgents">

			<xmvc:item>
				<xmvc:value><![CDATA[/Firefox\/[2-9]\.[0-9]+\.[0-9]+/]]></xmvc:value>
			</xmvc:item>

			<xmvc:item>
				<xmvc:value><![CDATA[/MSIE [6-9]\.[0-9]+;/]]></xmvc:value>
			</xmvc:item>

			<xmvc:item>
				<xmvc:value><![CDATA[/Version\/[2-9]\.[0-9]+\.[0-9]+ Safari\//]]></xmvc:value>
			</xmvc:item>

			<xmvc:item>
				<xmvc:value><![CDATA[/Chrome\//]]></xmvc:value>
			</xmvc:item>

			<xmvc:item>
				<xmvc:value><![CDATA[/Opera\/9\.[0-9]+/]]></xmvc:value>
			</xmvc:item>

		</xmvc:var>

	</xmvc:section>

	<xmvc:section name="authentication">

		<!-- Disable or enable authentication -->
		<xmvc:var name="disableAuth"><![CDATA[false]]></xmvc:var>

		<!-- The unique identifier for the session which relates to this specific authentication group -->
		<xmvc:var name="authSessionKey"><![CDATA[admin]]></xmvc:var>

		<!-- How many days before an inactive account is disabled -->
		<xmvc:var name="sleeperAccountDays"><![CDATA[90]]></xmvc:var>

		<!-- How many failed login attempts before the account locks up -->
		<xmvc:var name="failedLoginCountLockout"><![CDATA[10]]></xmvc:var>

		<!-- How many minutes before the locked account resets to normal -->
		<xmvc:var name="failedLoginCountTimeout"><![CDATA[15]]></xmvc:var>

		<!-- How many seconds between each login try (logged by IP address using session variables) to prevent
		users from re-trying passwords too fast, such as in an automated script.  If they try to login
		twice before the seconds below expire, they will get a message such as "Too many login attempts in
		a short amount of time." and it will prevent any query hits on the database -->
		<xmvc:var name="secondsBetweenLoginTries"><![CDATA[1.0]]></xmvc:var>

	</xmvc:section>

</xmvc:root>